In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import timeit


fil = "stats.csv"

df = pd.read_csv(fil, encoding="latin1", delimiter=";")

In [ ]:
df.nlargest(3,"G")[["Player","G"]]

In [ ]:
df.groupby("Tm")["G"].max().sort_values(ascending=False)

In [ ]:
df[df["Tm"]=="LAL"]["Player"].value_counts().sum()

In [ ]:
df[(df["MP"] > 30) & (df["FG%"] > 0.5)]["Player"]

In [ ]:
df.query("MP > 30 and `FG%` > 0.5")["Player"]

In [ ]:
df.pivot_table(values="PTS", index="Tm", aggfunc="sum").sort_values(by="PTS", ascending=False)

In [ ]:
df["Def"] = df["TRB"] + df["BLK"].apply(lambda x: 2*x) + df["STL"].apply(lambda x: 2*x)

In [ ]:
df["Off"] = df["PTS"] + df["AST"]

In [ ]:
df["Godhet"] = df["Off"] + df["Def"].apply(lambda x: 2*x)

In [ ]:
df.pivot_table(values=["Off", "Def"], index="Tm", aggfunc="sum").sort_values(by="Off", ascending=False)

In [ ]:
df.pivot_table(values="Godhet", index="Tm", aggfunc="sum").sort_values(by="Godhet", ascending=False)

In [ ]:
df.plot(kind="scatter", x="Def", y="Off")

In [ ]:
df["Off"].corr(df["Def"])

In [ ]:
df.groupby("Tm").sum().plot(kind="scatter", x="Def", y="Off")

In [ ]:
df["Age"].plot(kind="hist",bins=20)

In [ ]:
df.memory_usage(deep=True).sum()

In [ ]:
df.groupby("Tm")["G"].mean().sort_values(ascending=False)

In [ ]:
df.pivot_table(values="G", index="Tm", aggfunc="mean").sort_values(by="G",ascending=False)

             G
Tm
ATL   5.400000
BOS  14.142857
BRK   2.785714
CLE   3.846154
DEN  12.600000
GSW  10.769231
LAC   3.571429
LAL  12.200000
MEM   5.416667
MIA  15.866667
MIL   3.666667
MIN   3.769231
NYK   8.666667
PHI   7.800000
PHO   8.428571
SAC   6.076923

In [12]:
time1 = timeit.timeit(lambda: df.groupby("Tm")["G"].mean().sort_values(ascending=False), number=1000)
time2 = timeit.timeit(lambda: df.pivot_table(values="G", index="Tm", aggfunc="mean"), number=1000)

print(f"time 1 = {time1}, time 2 = {time2}")

time 1 = 0.5594184000219684, time 2 = 1.9526529999857303

In [26]:
df[df.isnull().any(axis=1)]["Player"]

0    Bam Adebayo
Name: Player, dtype: object

In [22]:
df.isna().sum()

Rk        0
Player    0
Pos       0
Age       0
Tm        0
G         1
GS        0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

In [21]:
df["G"].isna().sum()

1