In [ ]:
import pandas as pd
import json

file = "youtube.json"

df = pd.read_json(file)

In [ ]:
# First and last few datafram bits

print(df.head())

print(df.tail())

In [ ]:

# DataFrame information
print(df.info())

In [ ]:

# Summary statistics
print(df.describe())

In [ ]:

# Check for missing values
print(df.isnull().sum())

In [15]:

# Example of data manipulation: filtering rows
filtered_df = df[df['created_year'] > 2021]
print(filtered_df)

     rank                                Youtuber  subscribers  video views  \
548   549                            Salman Noman     16700000  10393037902
852   853                                Vibhu 96     13400000     20563378
886   887                             Ryan Trahan     13100000   2182651464
957   958  Bebefinn - Nursery Rhymes & Kids Songs     12500000   4163639093
969   970                         Quantum Tech HD     12500000   4340213066

                 category                                   Title  uploads  \
548         Entertainment                            salman Noman        3
852                   nan                                Vibhu 96      256
886         Entertainment                             Ryan Trahan       33
957                   nan  Bebefinn - Nursery Rhymes & Kids Songs      322
969  Science & Technology                       Mr_Mughall Gaming      223

           Country Abbreviation   channel_type  ...  \
548            nan          nan            nan  ...
852          India           IN      Education  ...
886  United States           US         People  ...
957  United States           US  Entertainment  ...
969       Pakistan           PK            nan  ...

     subscribers_for_last_30_days  created_year  created_month  created_date  \
548                          10.0        2022.0            May          14.0
852                      300000.0        2022.0            Jun           5.0
886                           1.0        2022.0            Jun          27.0
957                      500000.0        2022.0            Mar          30.0
969                          32.0        2022.0            Apr          23.0

     Gross tertiary education enrollment (%)    Population  Unemployment rate  \
548                                      NaN           NaN                NaN
852                                     28.1  1.366418e+09               5.36
886                                     88.2  3.282395e+08              14.70
957                                     88.2  3.282395e+08              14.70
969                                      9.0  2.165653e+08               4.45

     Urban_population   Latitude  Longitude
548               NaN        NaN        NaN
852       471031528.0  20.593684  78.962880
886       270663028.0  37.090240 -95.712891
957       270663028.0  37.090240 -95.712891
969        79927762.0  30.375321  69.345116

[5 rows x 28 columns]

In [17]:
# Example of data manipulation: group by and aggregate
grouped_df = df.groupby('created_year').agg({'uploads': 'sum'})
print(grouped_df)

              uploads
created_year
1970.0            744
2005.0         418505
2006.0        1569733
2007.0        1251288
2008.0         798538
2009.0         798481
2010.0         520151
2011.0         536919
2012.0         621866
2013.0         720061
2014.0         805308
2015.0         196029
2016.0         276649
2017.0          97022
2018.0         426854
2019.0          19541
2020.0          61264
2021.0          21400
2022.0            837

In [19]:
# Read the JSON file back into a DataFrame
new_df = pd.read_json('filtered_data.json', orient='records', lines=True)

# Display the DataFrame
print(new_df)

   rank                                Youtuber  subscribers  video views  \
0   549                            Salman Noman     16700000  10393037902
1   853                                Vibhu 96     13400000     20563378
2   887                             Ryan Trahan     13100000   2182651464
3   958  Bebefinn - Nursery Rhymes & Kids Songs     12500000   4163639093
4   970                         Quantum Tech HD     12500000   4340213066

               category                                   Title  uploads  \
0         Entertainment                            salman Noman        3
1                   nan                                Vibhu 96      256
2         Entertainment                             Ryan Trahan       33
3                   nan  Bebefinn - Nursery Rhymes & Kids Songs      322
4  Science & Technology                       Mr_Mughall Gaming      223

         Country Abbreviation   channel_type  ...  \
0            nan          nan            nan  ...
1          India           IN      Education  ...
2  United States           US         People  ...
3  United States           US  Entertainment  ...
4       Pakistan           PK            nan  ...

   subscribers_for_last_30_days  created_year  created_month  created_date  \
0                            10          2022            May            14
1                        300000          2022            Jun             5
2                             1          2022            Jun            27
3                        500000          2022            Mar            30
4                            32          2022            Apr            23

   Gross tertiary education enrollment (%)    Population  Unemployment rate  \
0                                      NaN           NaN                NaN
1                                     28.1  1.366418e+09               5.36
2                                     88.2  3.282395e+08              14.70
3                                     88.2  3.282395e+08              14.70
4                                      9.0  2.165653e+08               4.45

   Urban_population   Latitude  Longitude
0               NaN        NaN        NaN
1       471031528.0  20.593684  78.962880
2       270663028.0  37.090240 -95.712891
3       270663028.0  37.090240 -95.712891
4        79927762.0  30.375321  69.345116

[5 rows x 28 columns]